.kep-login-facebook {
    font-family: Helvetica,sans-serif;
    font-weight: 200 !important;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.54) !important;
    cursor: pointer;
    display: inline-block;
    font-size: calc(.27548vw + 12.71074px);
    text-decoration: none;
    text-transform: none !important;
    transition: background-color .3s,border-color .3s;
    border: calc(.06887vw + .67769px) solid rgb(243, 237, 237) !important;
    /* padding: calc(.34435vw + 3.38843px) calc(.34435vw + 10.38843px) !important; */
    padding: 7px !important;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; 
    margin-left: 10px;
    background-color: #fff !important

}
.customSocialButto{
    box-shadow: rgba(0, 0, 0, 0.24) 1px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54);
    border-radius: 5px;
    padding: 7px;
    border: calc(.06887vw + .67769px) solid rgb(243, 237, 237);
    min-width: 200px;
    font-size: 15px
}

/* background-color: rgb(255, 255, 255); display: inline-flex; align-items: center; color: rgba(0, 0, 0, 0.54); box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; padding: 0px; border-radius: 2px; border: 1px solid transparent; font-size: 14px; font-weight: 500; font-family: Roboto, sans-serif; rgba(0, 0, 0, 0.24) 1px 2px 2px 0px,, */